In [8]:
import pandas as pd

df1 = pd.read_csv("data/mexico-real-estate-1.csv", sep="\t" )
df2 = pd.read_csv("data/mexico-real-estate-2.csv", sep="\t")
df3 = pd.read_csv("data/mexico-real-estate-3.csv", sep="\t")

df1.info()
df1.head(10)
df1.dropna(inplace=True)
df1.info()
df1.head()

#removing both "$" and "," from the price column, as well as converting it to floating point values
df1['price_usd'] = df1["price_usd"].str.replace('$', '').str.replace(',','').astype(float)
df1.info()
df1.head()

###cleaning df2

#removing NaN
df2.info()

#converting price in mexican pessos to price in usd and droping the column of pricwe in mxn and add the price_usd
df2["price_usd"] = (df2["price_mxn"]/19).round(2)
df2.drop(columns = ["price_mxn"], inplace=True)
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     700 non-null    int64
 1   property_type  700 non-null    object
 2   state          700 non-null    object
 3   lat            583 non-null    float64
 4   lon            583 non-null    float64
 5   area_m2        700 non-null    float64
 6   price_usd      700 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 38.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     583 non-null    int64
 1   property_type  583 non-null    object
 2   state          583 non-null    object
 3   lat            583 non-null    float64
 4   lon            583 non-null    float64
 5   area_m2        583 non-null    float64
 6   price_usd      583 non-null    object
dtypes: float64(3), int64(1), object(3)
memory usage: 36.4+ KB
<class 'pandas.core.frame.DataFrame'>
Index: 583 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     583 non-null    int64
 1   property_type  583 non-null    object
 2   state          583 non-null    object
 3   lat            583 non-null    float64
 4   lon            583 non-null    float64
 5   area_m2        583 non-null    float64
 6   price_usd      583 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 36.4+ KB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 700 entries, 0 to 699
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     700 non-null    int64
 1   property_type  700 non-null    object
 2   state          700 non-null    object
 3   lat            571 non-null    float64
 4   lon            571 non-null    float64
 5   area_m2        700 non-null    float64
 6   price_mxn      700 non-null    float64
dtypes: float64(4), int64(1), object(2)
memory usage: 38.4+ KB

TypeError: DataFrame.drop() got an unexpected keyword argument 'column'