In [4]:
import pandas as pd


df1 = pd.read_csv("data/mexico-real-estate-1.csv", sep="\t" )
df2 = pd.read_csv("data/mexico-real-estate-2.csv", sep="\t")
df3 = pd.read_csv("data/mexico-real-estate-3.csv", sep="\t")

#removing both "$" and "," from the price column, as well as converting it to floating point values
df1['price_usd'] = df1["price_usd"].str.replace('$', '').str.replace(',','').astype(float)

#converting price in mexican pessos to price in usd and droping the column of pricwe in mxn and add the price_usd
df2["price_usd"] = (df2["price_mxn"]/19).round(2)
df2.drop(columns = ["price_mxn"], inplace=True)

###spliting columns with two feature combined, eg for the case of df3 we have lat-lon feature consisting of both latitude and longitude features
df3[["lat","lon"]] = df3["lat-lon"].str.split(",", expand=True)

###droping NaN in df3 dataframe
df3.dropna(inplace=True)

###spliting a column with two combined features to create new seperate columns for the two features
df3[["lat","lon"]] = df3["lat-lon"].str.split(",", expand=True)  #expand= True tells pandas to treat the split strings as new columns

df3["place_with_parent_names"].str.split("|", expand=True).head()

###in the df3 dataframe, the "place_with_parents_names" column has several features put together yet we are interested in the state feature only.
## to obtain the feature we sre going to split the column form new sub-columns then slice out the column "state" that we are interested in.

df3["state"] = df3["place_with_parent_names"].str.split("|", expand=True)[2]

## upon then creation of the state column that we was interested in, we need to drop the 
#columns that we nolonger need. that is the "lat-lon" and "place_with_parents_name"

df3.drop(columns = ["place_with_parent_names", "lat-lon"], inplace = True)

#concatenate row-wise

df = pd.concat([df1,df2,df3])

df.head()
df.shape

(1982, 7)